.cart-modal {
  width: 30%;
  background-color: #fff;
  z-index: 6;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.cart-items-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
}

hr {
  margin-top: 1rem;
}

.cart-order-buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin-top: 1rem;
}

.cart-order-buttons button {
  padding: 1rem 2rem;
}

.cart-order-buttons button:first-child {
  background: transparent;
  color: gray;
  border: 1px solid gray;
}

.cart-order-buttons button:hover {
  transform: scale(0.9);
}
