.button {
  border: none;
  background-color: #252f3d;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #3d4c60;
}
