@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
