@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.form-link {
  font-size: 1.4rem !important;
}

.form-link a {
  color: blue;
  transition: all 0.3s;
}

.form-link a:hover {
  text-decoration: underline;
}

.forms {
  width: 36rem;
  margin: 15rem auto 0;
  padding: 3.2rem;
}

.error {
  font-size: 1.4rem;
  color: red;
  font-weight: 500;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
